<div class="center hero-unit">
  <h1>Bem Vindo ao Twitter Teste</h1>

  <h2>
    Essa é a pagina inicial do projeto<br>
	<small>Criado por Sérgio Oliveira</small>
  </h2>

  <%= link_to "Cadastre-se!", signup_path , class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>