<footer class="footer">
  <small>Orgulhosamente desenvolvido com 
    <a href="http://rubyonrails.org">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   sobre_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
      <li><a href="http://www.studiosmedia.com.br">Novidades</a></li>
    </ul>
  </nav>
</footer>